[submodule "themes/hugo-theme-basic"]
	path = themes/hugo-theme-basic
	url = git@github.com:cedarbaum/hugo-theme-basic.git
[submodule "website-content"]
	path = website-content
	url = git@github.com:cedarbaum/website-content.git
[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = git@github.com:cedarbaum/hugo-theme-codex.git
	branch = game-of-life
