@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.fa-star, .fa-star-half-o, .fa-star-o {
    border-color: orange;
    color: orange;
}
.info {
    background-color: #e7f3fe;
    border-left: 3px solid #2196F3;
    text-indent: 5px;
}

@keyframes backgroundColorPalette {
    0% {
        color: #ee6055;
    }
    25% {
        color: #60d394;
    }
    50% {
        color: #aaf683;
    }
    75% {
        color: #ffd97d;
    }
    100% {
        color: #ff9b85;
    }
}

.fancy {
    color: #ee6055;
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
