on:
  push:
    branches:    
      - master
    paths-ignore:
      - '**/README.md'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v1
        
      - name: Configure Git identity
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'cedarbaum@users.noreply.github.com'

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          
      - name: Configure npm
        run: |
          npm config set "@fortawesome:registry" https://npm.fontawesome.com/
          npm config set '//npm.fontawesome.com/:_authToken' "${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}"
      - name: Build website
        run: npm install && CI=false npm run build
         
      - name: Deploy website
        run: npm run deploy
